* {
  margin: 0;
  padding: 0;
}

.img-principal {
  background-image: url(../assets/img/descarga.jfif);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background-color: black;
}

header .headerimg {
  position: fixed;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo img {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
}
.logo .navbar {
  align-items: center;
}
.logo .navbar:hover {
  color: rgb(38, 0, 255);
}
.logo .navbar a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 15px;
}
.logo .navbar a:hover {
  background: rgba(8, 0, 44, 0.521);
  transition: 0.5s;
  border-radius: 10px;
}

.imagen-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
  padding: 20px;
  color: white;
}

form {
  width: 640px;
  margin: 50px auto;
  max-width: 97%;
  padding: 55px 30px;
}
form .action {
  margin-bottom: 32px;
}
form .action input {
  background: white;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}
form .full {
  font-size: 25px;
}
form .full textarea {
  background: white;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 16px;
  width: 100%;
  height: 200px;
}
form .half {
  justify-content: space-between;
  color: white;
}
form .half .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
  font-size: 25px;
}
form .half .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 16px;
  width: 100%;
  background: white;
}
form .titulo h3 {
  letter-spacing: 6px;
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 32px;
  font-size: 30px;
  color: white;
}

p {
  color: aliceblue;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
footer img {
  width: 90%;
  padding-top: 10px;
}

ul {
  align-items: center;
  color: aliceblue;
  padding-right: 500px;
}

li {
  list-style-type: none;
}

#marca {
  display: flex;
  flex-direction: column-reverse;
  padding-right: 10px;
  align-items: center;
}

@media (min-width: 1059px) {
  .imagen-grid {
    grid-template-columns: repeat(auto-fill, minmax(450px, auto));
    grid-auto-rows: minmax(300px, auto);
  }
}
@media (min-width: 0px) and (max-width: 1436px) {
  li {
    font-size: 0.5;
  }
  ul {
    color: rgb(0, 0, 0);
    padding: 1px;
    background-color: rgba(255, 255, 255, 0.685);
    font-weight: 500;
  }
  footer img {
    display: none;
  }
  footer {
    background-image: url(../assets/img/Scrapbooking\ Daily.jfif);
    height: 100vh;
    background-size: cover;
    justify-content: space-evenly;
  }
  .navbar {
    align-items: normal;
  }
  .navbar a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-weight: 600;
    padding: 2px;
  }
}
h2 {
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(163, 163, 163, 0.185);
}

/*# sourceMappingURL=style.css.map */
