footer{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    img{
        width: 90%;
        padding-top: 10px;
    }
}
ul{
    align-items: center;
    color: aliceblue;
    padding-right: 500px;
}
li{
    list-style-type: none; 
}