header{
    .headerimg{
        position: fixed;
    }
    }
            .logo{
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 100px;
                    padding: 10px;
                    border-radius: 20px;
            }
        .navbar{
            align-items: center;
                &:hover{
                    color: rgb(38, 0, 255);
        }

        a{
            text-decoration: none;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-weight: 600;
            padding: 15px;
            &:hover{
                background: rgba(8, 0, 44, 0.521);
                transition: 0.5s;
                border-radius: 10px;
            }
        }
    }
}